# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test outputs
htmlcov/
.coverage
coverage.xml
*.cover

# Others
.idea/
*.swp
